.title {
  text-align: center;
}
/*검색박스*/
.searchBox {
  display : flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 0.5em;
}
.searchBox-input {
  width : 100%;
}
.searchBox-button {
  float : right;
}

/*개인 프로필*/
.contactId{
  margin : 0.5em 0;
  padding : 1em;
  border : 1px solid gray;
}
.contactId-edit-delete {
  display : flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contactId-edit-delete Button {
  margin : 0.3em;
}

/*반응형 (모바일)*/
@media (max-width : 768px) {
  .searchBox-button {
    float : left;
    margin-top : 0.5em;
    justify-content: center;
  }
}